extends ../layout/layout_markup
block content
    .section.section-header: .wrapper
        .section-header-inner
            a.logo: img(src="./assets/img/logo.png", alt="")
                
            .section-header-actions
                a(ui-sref="sign-out").button.button-primary
                    em.mdi.mdi-logout
                    | Uitloggen

    .section.section-container: .wrapper 
        .section.section-title KindPakket 
        .section.section-panel.section-panel-devieded: .row
            .col.col-6
                form.form
                    .row: .col.col-12: .form-heading Budget settings
                    .row
                        .col.col-6: .form-group
                            label.label Budget name
                            input(type="text" placeholder="Budget name").form-control
                            p.text-danger Some validation error
                        .col.col-6: .form-group
                            label.label Amount per child
                            input(type="number" placeholder="Amount per child").form-control.text-danger
                    .row: .col.col-12
                        button(type="submit")#submit.hidden
                        label(for="submit").button.button-success Submit
                        label.button.button-text.disabled 
                            em.mdi.mdi-check
                            | Updated
            .col.col-6
                .col.col-12
                    .info-card.info-card-success(style="max-width: 320px;") 
                        .info-card-header €50.000,55
                        .info-card-description 
                            strong Congratulations. 
                            | The budget is enough for funding the vouchers.
                .col.col-12
                    .info-card.info-card-danger(style="max-width: 320px;")
                        .info-card-header €50.000,55
                        .info-card-description 
                            strong Onvoldoende saldo. 
                            | Gelieve 
                            strong €10.000,00 
                            | op uw bankrekening te storten.

        div
            .section.section-financial-overview-tabs: .row
                mixin tab_item(key, icon, text)
                    a(href="#").tab-item.col.col-4: .inner
                        img(src="/assets/icons/icon-" + icon + ".png").tab-icon
                        | !{text}
                        .mdi.mdi-chevron-right.arrow

                +tab_item('shopkeeper_earnings', 'shopkeeper-earnings', 'Shopkeeper<br>Earnings')
                +tab_item('category_earnings', 'category-earnings', 'Category<br>Earnings')
                +tab_item('outstanding_debs', 'outstanding-debs', 'Outstanding<br>Debs')

            .section.section-title Stores
            .section.section-panel
                .row
                    .col.col-4: .chart-container
                        canvas(id="myChart1" width="400" height="400")
                        .chart-desc 
                            | Aantal uitgebrachte stemmen: 
                            strong 300.548
                    .col.col-4: .chart-container
                        canvas(id="myChart2" width="400" height="400")
                        .chart-desc 
                            | Aantal uitgebrachte stemmen: 
                            strong 300.548
                    .col.col-4: .chart-container
                        canvas(id="myChart3" width="400" height="400")
                        .chart-desc 
                            | Aantal uitgebrachte stemmen: 
                            strong 300.548