div
    .section.section-title Winkels
    .section.section-panel
        .chart-container(ng-show="!showChart")
            button(ng-click="showChartButton()").button.button-primary 
                em.mdi.mdi-chart-pie
                | Show charts
        .row(ng-show="showChart")
            .col.col-4
                .chart-container
                    canvas(id="myChart_total" width="400" height="400")
                    .chart-desc 
                        | Total Earnings: 
                        strong(ng-bind="'€' + (chartLib.totals.myChart_total | number_format:2)")
            .col.col-4
                .chart-container
                    canvas(id="myChart_last_month" width="400" height="400")
                    .chart-desc 
                        | Last Month Earnings: 
                        strong(ng-bind="'€' + (chartLib.totals.myChart_last_month | number_format:2)")
            .col.col-4
                .chart-container
                    canvas(id="myChart_last_week" width="400" height="400")
                    .chart-desc 
                        | Last Week Earnings: 
                        strong(ng-bind="'€' + (chartLib.totals.myChart_last_week | number_format:2)")
    
    .section.section-panel(ng-repeat="shopkeeper in shopkeepers")
        .business-li-wrapper(ng-click="shopkeeper.show_transactions = !shopkeeper.show_transactions"): .business-li
            .business-li-logo: img(ng-src="{{ shopkeeper.preview || './assets/img/no-image-square.png' }}")
            .business-title
                .business-title-name(ng-bind="shopkeeper.name")
                .earnings-badge
                    .earnings-col
                        .earnings-col-label Totaal inkomsten
                        .earnings-col-value € {{ (shopkeeper.earnings.total || 0) | number_format:2 }}
                        .earnings-col-value % {{ ((shopkeeper.earnings.total / (chartLib.totals.myChart_total / 100)) | number_format:2) }}
                    .earnings-col
                        .earnings-col-label Inkomsten vorige maand
                        .earnings-col-value € {{ (shopkeeper.earnings.last_month || 0) | number_format:2 }}
                        .earnings-col-value % {{ ((shopkeeper.earnings.last_month / (chartLib.totals.myChart_last_month / 100)) | number_format:2) }}
                    .earnings-col
                        .earnings-col-label Inkomsten vorige week
                        .earnings-col-value € {{ (shopkeeper.earnings.last_week || 0) | number_format:2 }}
                        .earnings-col-value % {{ ((shopkeeper.earnings.last_week / (chartLib.totals.myChart_last_week / 100)) | number_format:2) }}
            .business-details
                span
                    strong Kvk: 
                    | {{ shopkeeper.kvk_number }} 
                    span &nbsp;|&nbsp; 
                span
                    strong BTW: 
                    span(ng-class="{'text-muted' : !shopkeeper.btw_number}") 
                        | {{ shopkeeper.btw_number || 'Geen data' }}
                    span &nbsp;|&nbsp; 
                span
                    strong IBAN:  
                    | {{ shopkeeper.iban }} 
                br
                span
                    strong Categorieën: 
                    span(ng-repeat="category in shopkeeper.categories track by $index")
                        | {{ category.name }}{{ $index < shopkeeper.categories.length - 1 ? ', ' : '' }}
                br
                span
                    strong E-mail: 
                    span.text-primary {{ shopkeeper.user.email }} 
        
        div(ng-show="shopkeeper.show_transactions")
            .table-fill: table.table.table-stripped
                tr
                    th Bedrag
                    th Datum
                    th Status
                tr(ng-repeat="transaction in shopkeeper.transactions")
                    td € {{ transaction.amount | number_format:2 }}
                    td {{ transaction.created_at }}
                    td {{ states[transaction.status] || transaction.status }}
            //- .pagination
            //-     a(href="#").pagination-it.disabled: em.mdi.mdi-chevron-left
            //-     a(href="#").pagination-it.active 1
            //-     a(href="#").pagination-it 2
            //-     a(href="#").pagination-it 3
            //-     a(href="#").pagination-it: em.mdi.mdi-chevron-right