div
    .section.section-title Category Earnings

    //- Category opened
    .section.section-panel
        .category-li-wrapper: .category-li
            .category-li-logo: img(src="./assets/img/office-photo-sample.jpg")
            .category-title
                .category-title-name Computers
                .earnings-badge
                    .earnings-col
                        .earnings-col-label Total Earnings
                        .earnings-col-value € 20.000,-
                    .earnings-col
                        .earnings-col-label Last month earnings
                        .earnings-col-value € 1.745,56
                    .earnings-col
                        .earnings-col-label Last week earnings
                        .earnings-col-value € 645,34
            .category-details
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
                br
                span Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        .table-fill: table.table.table-stripped
            tr
                th Amount
                th Date
                th Status
            tr
                td € 34,35
                td 02.12.2019
                td Confirmed
            tr
                td € 34,35
                td 02.12.2019
                td Confirmed
            tr
                td € 34,35
                td 02.12.2019
                td Confirmed
            tr
                td € 34,35
                td 02.12.2019
                td Confirmed
            tr
                td € 34,35
                td 02.12.2019
                td Confirmed
        .pagination
            a(href="#").pagination-it.disabled: em.mdi.mdi-chevron-left
            a(href="#").pagination-it.active 1
            a(href="#").pagination-it 2
            a(href="#").pagination-it 3
            a(href="#").pagination-it: em.mdi.mdi-chevron-right