.dev-pages
    h1 
        b Quick Dev Template (qdt) - Theme 
        | - website pages
    ul
        li: a(href="index.html") Index
        li: a(href="budget-upload.html") Budget uploader
        li: a(href="budget-manager.html") Budget manager
        li: a(href="shopkeeper-manager.html") Shopkeeper manager

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off