.section.section-container: .wrapper 
    .section.section-title KindPakket
    .section.section-panel.section-panel-devieded: .row
        .col.col-6
            form(ng-submit="$ctrl.submitBudgetForm($event, $ctrl.forms.budget)").form
                .row: .col.col-12: .form-heading Budget instellingen
                .row
                    .col.col-6: .form-group
                        label.label Budget naam
                        input(type="text" placeholder="Budget naam" ng-model="$ctrl.forms.budget.values.name").form-control
                        p(ng-repeat="error in $ctrl.forms.budget.errors.name track by $index" ng-bind="error").text-danger
                    .col.col-6: .form-group
                        label.label Bedrag per kind
                        input(type="number" placeholder="Bedrag per kind" ng-model="$ctrl.forms.budget.values.amount_per_child").form-control
                        p(ng-repeat="error in $ctrl.forms.budget.errors.amount_per_child track by $index" ng-bind="error").text-danger
                .row: .col.col-12
                    button(type="submit")#submit.hidden
                    label(for="submit").button.button-success Bevestigen
                    label(ng-show="$ctrl.forms.budget.success").button.button-text.disabled 
                        em.mdi.mdi-check
                        | Updated
        .col.col-6
            .col.col-12(ng-if="$ctrl.fundsInfo.diff >= 0")
                .info-card.info-card-success(style="max-width: 320px;") 
                    .info-card-header €{{ $ctrl.fundsInfo.funds | number_format:2 }} 
                    .info-card-description 
                        strong Congratulations. 
                        | The budget is enough for funding the vouchers.
            .col.col-12(ng-if="$ctrl.fundsInfo.diff < 0")
                .info-card.info-card-danger(style="max-width: 320px;")
                    .info-card-header €{{ $ctrl.fundsInfo.funds | number_format:2 }} 
                    .info-card-description 
                        strong Onvoldoende saldo. 
                        | Gelieve 
                        strong €{{ $ctrl.fundsInfo.diff | abs | number_format:2 }} 
                        | op uw bankrekening te storten.
            .col.col-12(ng-if="$ctrl.fundsInfo.funds")
                .form: label.label 
                    | BBunq kosten vanaf de eerste transactie tot nu toe: 
                    strong €{{ $ctrl.fundsInfo.bunq_costs | abs | number_format:2 }} 

    div(financial-overview)